[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "meta-gplv2"]
	path = meta-gplv2
	url = git://git.yoctoproject.org/meta-gplv2
[submodule "meta-virtualization"]
	path = meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
[submodule "meta-renesas"]
	path = meta-renesas
	url = https://github.com/renesas-rz/meta-renesas.git
[submodule "meta-rz-panfrost"]
	path = meta-rz-panfrost
	url = https://github.com/renesas-rz/meta-rz-panfrost.git
